# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp
*.list

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.bin
*.elf

# Misc
*.su
*.mk
.settings/
*.launch
/Debug/
.vscode/c_cpp_properties.json
